#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 90vh;
}
.visible{
    display: block;
}
.notVisible{
    display: none;
}
canvas {

  width: 90%;
  height: 400px;
  background-color: RED;
}
